* {
  margin: 0;
}

html,
body {
  height: 100%;
}

#main {
  min-height: 100%;
  margin-bottom: -102px;
}

.header {
  background-image: url('../images/music_notes.jpeg');
  margin-bottom: 0px;
}

#main:after {
  content: "";
  display: block;
}
#footer, #main:after {
  height: 102px;
}
#footer {
  background: lightgrey;
}
