* {
  margin: 0;
}

html,
body {
  height: 100%;
}

#main {
  min-height: 100%;
  margin-bottom: -102px;
}

.header {
  background-image: url('../images/music_notes.jpeg');
  margin-bottom: 0px;
}

#main:after {
  content: "";
  display: block;
}
#footer, #main:after {
  height: 102px;
}
#footer {
  background: lightgrey;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkgrey;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
