</div>
</div>
</div>

<style type="text/css">
    #footer { 
        clear:both; 
        margin:auto; 
        height: 19px; 
        text-align:center;
		height: 40px;
    }
    
    #footer_hr {
        display: block;
        border-style: inset;
        border-width: 1px;
        position:relative; 
        min-width:960px; 
        max-width:1200px; 
        margin:auto;         
    }   
</style>

<div id="footer" class="text-cente text-muted">
    <p>&nbsp;</p>
    <hr id="footer_hr">
	<p>SmartChords&copy;2020&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:contact@smartchords.com?subject=Feedback">Send Feedback</a></p>
</div>
</body>
</html>
